<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>angular控制器</title>
		<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
	</head>
	<body>
		<div ng-app="myApp" ng-controller="myCtrl">
			名: <input type="text" ng-model="firstName" placeholder="请输入"><br>
			姓: <input type="text" ng-model="lastName" placeholder="请输入"><br>
			年龄:{{age}}<br />
			<button ng-click="say()">say</button>
			<br>
			姓名: {{firstName + " " + (lastName|uppercase)}}&emsp;reverse:{{firstName|reverse}}<br />
			<!--
            	作者：javawiki@163.com
            	时间：2017-05-23
            	描述：默认先选中names[1]->Runoob
            -->
			select:<select ng-init="selectedName = names[1]" ng-model="selectedName" ng-options="x for x in names"></select>
			<select><option ng-repeat="x in names">{{x}}</option></select>
			<div runoob-directive></div>
		</div>
		<script>
			var app = angular.module('myApp', []);
			app.service('hexafy', function() {
			    this.myFunc = function (x) {
			        return x.toString(16);
			    }
			});
			//http://www.runoob.com/angularjs/angularjs-http.html http请求
			app.controller('myCtrl', function($scope,$rootScope,$location,$http,hexafy) {
			    $scope.firstName= "John";
			    $scope.lastName= "Doe";
			    $rootScope.age=10;
			    $scope.names = ["Google", "Runoob", "Taobao"];
			    //暴露方法
			    $scope.say=function(){
			    	alert($scope.firstName+"  "+$scope.lastName);
			    }
			    console.log("location:%s,myservice-func:%s",$location,hexafy.myFunc(255));
			    $http.get("welcome.htm").then(function (response) {
			        $scope.myWelcome = response.data;
			    });
			    //https://docs.angularjs.org/api/ng/service/$http $http使用
			    $http({
			        method: 'GET',
			        url: 'http://www.runoob.com/try/angularjs/data/sites.php'
			    }).then(function successCallback(response) {
			            console.log("success response:%o",response);
			        }, function errorCallback(response) {
			            // 请求失败执行代码
		            	console.log("error response:%o",response);
			    });
			});
			//自定义过滤器
			app.filter('reverse', function() { //可以注入依赖
			    return function(text) {
			        return text.split("").reverse().join("");
			    }
			});
			//自定义指令
			app.directive("runoobDirective", function() {
			    return {
			        template : "我在指令构造器中创建!"
			    };
			});
		</script>
	</body>
</html>
